<phpunit
     convertErrorsToExceptions="true"
     convertNoticesToExceptions="true"
     convertWarningsToExceptions="true"
     stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>Unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../Classes/</directory>
        </whitelist>
    </filter>
    <extensions>
        <extension class="Brotkrueml\SchemaRecords\Tests\Hooks\BypassFinalHook"/>
    </extensions>
</phpunit>
